.u-max-full-width-ltbluea {
  max-width: 100%;
  background-color: #F4FBFF;
  box-sizing: border-box; }

.u-max-full-width-ltblue {
  max-width: 100%;
  background-color: #E6F5FB;
  box-sizing: border-box; }

.u-max-full-width-blue {
  max-width: 100%;
  background-color: #48c0eb;
  box-sizing: border-box; }


/*ALIGNMENT & SPACING*/
.buffer {
	padding: 4rem 0 4rem 0;
}
.buffera {
  padding: 2rem;
}
.buffer-top-sml {
	padding-top: 2rem;
}
.buffer-top-tiny{
  padding-bottom: 1rem;
}
.buffer-top-tiny2{
  padding-top: 1rem;
}
.buffer-top-mid {
  padding-top: 3rem;
}
.buffer-top-md {
	padding-top: 4rem;
}
.buffer-top-lrg {
	padding-top: 8rem;
}
.buffer-bottom-md {
  padding-bottom: 6rem;
}
.buffer-bottom-lrg {
  padding-bottom: 8rem;
}
.buffer-bottom {
	padding-bottom: 4rem;
}
.buffer-bottom-sml {
	padding-bottom: 2rem;
}
.buffer-bottom-tiny {
  padding-bottom: 1rem;
}
.centered {
	text-align:center;
}

.buffera span {
  /*font-weight: bold;*/
  line-height: 22px;
  color: #48c0eb;
  font-size: 14px
}

/*
MY STYLING
____________________*/
.applybutton {
  background-color: #48c0eb;
  border: 1px solid #48c0eb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: .05rem;
  padding: 10px 4px;
  text-decoration: none;
  margin-left: 10px;
  width: 70px;
  text-align: center;
}

.breathe {
  line-height: 24px;
}

.blue {
  color:#48c0eb;
}
.white {
  color:#ffffff;
}
.card {
  width: 100%;
  border: 1px solid #D6D6D6;
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);*/
  min-height: 280px;
  padding: 1rem;
  margin-bottom: 1.8rem;
}
.card2 {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  /*border: 1px solid #D6D6D6;*/
  margin-bottom: 1.8rem;
  min-height: 550px;
  width: 100%;

}
.cardicon {
  width: 55px;
  height: 55px;
}
.ctawrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
    url("../img/team.jpg");
}
    @media (max-width: 480px) {
    .ctawrapper {
      background-image:
      linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
      url("../img/teammobile.jpg");
    }
  }

.ctawrapper2 {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, rgba(217,163,0,.9) 0, rgba(255,206,56,.9) 100%), 
    url("../img/team.jpg");
}
    @media (max-width: 480px) {
    .ctawrapper2 {
      background-image: linear-gradient(-45deg, rgba(217,163,0,.9) 0, rgba(255,206,56,.9) 100%), 
      url("../img/teammobile.jpg");
    }
  }

.ctawrapper3 {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, rgba(107,190,238,.9) 0, rgba(11,148,235,.9) 100%), 
    url("../img/team.jpg");
}
    @media (max-width: 480px) {
    .ctawrapper3 {
      background-image: linear-gradient(-45deg, rgba(107,190,238,.9) 0, rgba(11,148,235,.9) 100%), 
      url("../img/teammobile.jpg");
    }
  }

  .ctawrappers {
  width: 100%;
  min-height: 300px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, rgba(3,187,255,.8) 0, rgba(15,28,130,.8) 100%), 
    url("../img/wut.jpg");
}
    @media (max-width: 480px) {
    .ctawrapper3 {
      background-image: linear-gradient(-45deg, rgba(107,190,238,.9) 0, rgba(11,148,235,.9) 100%), 
      /*url("../img/teammobile.jpg");*/
    }
  }


.description {
  padding-left: 1rem;
}
.extrat {
  font-size: 16px;
  line-height: 28px;
}
.full {
  width: 100%;
}
.adwrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000000;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(-90deg, rgba(26,26,26,0.30) 23%, rgba(18,18,18,0.90) 72%),
    url("../img/adthree.png");
}

  @media (max-width: 480px) {
    .adwrapper {
      background-image:
      linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
      url("../img/adthreesml.png");
    }
  }

.govwrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000000;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(-90deg, rgba(26,26,26,0.30) 23%, rgba(18,18,18,0.90) 72%),
    url("../img/govtwo.jpg");
}

  @media (max-width: 480px) {
    .govwrapper {
      background-image:
      linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
      url("../img/govtwosml.jpg");
    }
  }

.healthwrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000000;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(-90deg, rgba(26,26,26,0.30) 23%, rgba(18,18,18,0.90) 72%),
    url("../img/hctwo.jpg");
}

  @media (max-width: 480px) {
    .healthwrapper {
      background-image:
      linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
      url("../img/hctwosml.jpg");
    }
  }
.tall {
  min-height: 500px;
}
.mainpoints {
  width: 200px;
}
.name-tag {
  font-size: 18px;
  padding: 0 0 0 0;
  text-transform: uppercase;
  margin-bottom: .25rem;
}
.networkwrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000000;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(-90deg, rgba(26,26,26,0.30) 23%, rgba(18,18,18,0.90) 72%),
    url("../img/hcthree.jpg");
}

  @media (max-width: 480px) {
    .networkwrapper {
      background-image:
      linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
      url("../img/hcthreesml.jpg");
    }
  }

.commwrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000000;
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(-90deg, rgba(26,26,26,0.30) 23%, rgba(18,18,18,0.90) 72%),
    url("../img/commtwo.png");
}

  @media (max-width: 480px) {
    .commwrapper {
      background-image:
      linear-gradient(-45deg, rgba(71,191,235,.9) 0%, rgba(0,113,189,0.8) 100%),
      url("../img/commtwosml.png");
    }
  }

.circle {
	width: 35px;
  	height: 35px;
  	border-radius: 50%;
  	border: 1px solid #48c0eb;
  	color: #000;
  	line-height: 35px;
  	text-align: center;
  	background: transparent;
  	margin: auto;
  	margin-bottom:2rem;
}

.ctabutton {
	display: inline-block;
  padding-right: 1.5rem;
}

.ctatext {
  	color: #fff;
  	font-size: 18px;
  	padding: 12rem 0 0 0;
  }

.fill{width:100%;height:350px;background-position:center;background-size:cover;
}
.footerline{
  padding:3rem 0 2rem 0;
}
.footerline2{
  padding:2rem 0 0 0;
}
  @media (max-width:767px) {
    .footerline {
      padding: 2rem 0 1rem 0;
    }
  }

  @media (max-width:767px) {
    .footerline2 {
      float: left;
      padding: 0 0 2rem 0;
    }
  }

.hero-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/bg.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:500px;
  }
.about-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/aboutherobg.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:425px;
  }

.advocacy-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/adhero.png');
    background-size:cover;
    background-color: #EEEEEE;
    height:425px;
  }

.government-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/govservices.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:425px;
  }

.healthcare-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/healthcarebg.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:425px;
  }

.services-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/serviceshero.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:450px;
  }

.comm-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/commbg.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:450px;
  }

  @media (max-width: 767px) {
    .comm-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/commbgsml.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:450px;
  }
}

.upx-unit {
    background-image: linear-gradient(-45deg, rgba(25,25,25,.7) 0%, rgba(25,25,25,0.5) 100%),
    url('../img/upxbg.png');
    background-size:cover;
    background-color: #EEEEEE;
    height:520px;
  }

  @media (max-width: 767px) {
    .upx-unit {
    background-image: linear-gradient(-45deg, rgba(25,25,25,.7) 0%, rgba(25,25,25,0.5) 100%),
    url('../img/upxbgsml.png');
    background-size:cover;
    background-color: #EEEEEE;
    height:auto;
  }
}

.bluehq-unit {
    background-image: linear-gradient(-45deg, rgba(25,25,25,.7) 0%, rgba(25,25,25,0.5) 100%),
    url('../img/upxbg.png');
    background-size:cover;
    background-color: #EEEEEE;
    height:520px;
  }

  @media (max-width: 767px) {
    .bluehq-unit {
    background-image: linear-gradient(-45deg, rgba(25,25,25,.7) 0%, rgba(25,25,25,0.5) 100%),
    url('../img/upxbgsml.png');
    background-size:cover;
    background-color: #EEEEEE;
    height:auto;
  }
}

.jobs-unit {
    background-image:
    linear-gradient(-45deg, rgba(71,191,235,1) 0%, rgba(0,113,189,0.8) 0%),
    url('../img/jobs.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:425px;
  }

/*  @media (max-width: 767px) {
    .jobs-unit {
    background-image: linear-gradient(-45deg, rgba(25,25,25,.7) 0%, rgba(25,25,25,0.5) 100%),
    url('../img/upxbgsml.png');
    background-size:cover;
    background-color: #EEEEEE;
    height:250px;
  }
}*/
.job-title {
    text-decoration: none;
     font-size: 16px; 
    text-transform: uppercase;
    margin-bottom: .5rem;
    letter-spacing: .7px;
}
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 5rem;
    /*letter-spacing: -1px;*/
    line-height: 1;
    margin: 0 0 0 0;
    padding-top: 10rem;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;
}
   /* Large desktop */
    @media (min-width: 1200px) { ... }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { ... }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { ... }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { ... }
	
.icon {
	width: 45px;
	height:45px;
}
.linebreak {
  height: 1px;
  width: 100%;
  background: #D6D6D6;
  margin: 2rem 0 4rem 0;
}

hr.linebreak { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0); 
  margin: 0px;
}

hr.linebreak2 { 
  border: 0; 
  height: 1px; 
  width: 150px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #D6D6D6, #f0f0f0); 
  margin: 0 0 3rem 0;
}

.heroheader {
  color:#ffffff;
  font-size: 3.7rem;
  padding-top:7rem;
}
  @media (max-width: 767px) {
    .heroheader {
      padding-top: 3rem;
    }
  }

.image-wrapper{
    position: relative;
    height: 142px;
    width: 142px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}
.image-overlay {
    position: absolute; 
     top: 0; 
     right: 0; 
     bottom: 0; 
     left: 0; 
     background-color: rgba(35, 105, 149,.6); 
     color: #fff; 
     display: none; 
}
.leadertag {
  font-size: 16px;
  padding: 1rem 0 .25rem 0;
  margin-bottom: .25rem;
}
.leadertag a {
  color: #48c0eb;
}
.leadertitle {
  padding-bottom: 4rem;
}
.leadertitle a {
  color: #000000;
  text-decoration: none;
}
.lefticon {
  width: 45px;
  height:45px;
  margin: 1rem 0 0 4rem;
}
.leftpush {
  padding-left: 4rem;
}
  @media (max-width: 767px) {
    .leftpush {
      padding-left: 0px;
    }
  }
.low {
  font-size: 14px;
}
.maincontainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
.rightpush {
  padding-right: 4rem;
}
  @media (max-width: 767px) {
    .rightpush {
      padding-right: 0px;
    }
  }
.social {
  float:right;
}
  @media (max-width: 767px) {
    .social {
      float:left;
      padding: 0 0 1rem 0;
    }
  }

.socialbutton{
  border: 1px solid #48c0eb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #1EAEDB;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 10px 12px;
  margin-left: 10px;
  text-decoration: none;
}
.socialicons{

}
.spoints {
  padding-left: 0px;
}
.subline {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 0px;
}
.subline2 {
  color: #48c0eb;
  margin-top: 0px;
  padding: 0 0 0 0;
}
.subnav {
  background-color: #48c0eb;
  text-decoration: none;
}
  .subnav li{
    text-decoration: none;
    display: inline-block;
  }
    @media (max-width: 767px){
      .subnav li {
        display: block;
      }
    }
  .subnav li a {
    font-weight: 500;
    color:#ffffff;
    padding-right: 2rem;
  }

.vimportant {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.whtxt {
  color:#ffffff;
}

.lefticon2 {
  padding: 1rem 0 0 6rem;
  width: 45px;
  height:45px;
}
  @media (max-width: 767px) {
    .lefticon {
      margin:0px;
    }
  }



/*/*TIMELINE TRIAL*/__________

.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-image: -webkit-linear-gradient(top, #ffffff, #48C0EB, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #48C0EB, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #48C0EB, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #48C0EB, #ffffff);
    left: 52.5%;
}
.timeline > li {
    margin-bottom: 60px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    text-decoration: none;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 36px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 37px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 500;
    padding: 0 15px;
    color: #48c0eb;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 8px 15px;
    background-color: #ADE2F4;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 0px;
        display: none;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(119% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
        display: none
    }
    ul.timeline > li > .timeline-panel {
        float: left;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}
.upxtitle {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 700;
  color: #FFCE38;
}
.bluehqtitle {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 700;
  color: #0B94EB;
}
.bluehqtitle span {
  color:#ffffff;
}
.withlimit {
  max-width: 450px;
}
.withlimitsml {
  max-width: 350px;
}
  @media (max-width: 767px) {
    .withlimit, .withlimitsml {
      max-width: 340px;
    }
  }




div.social, div.title {
    position: fixed;
    z-index: 10;
}

div.social {
    /*right: 40px;*/
    /*bottom: 40px;*/
    /*background: #e4f;*/
}

div.title {
    /*left: 40px;*/
    /*bottom: 40px;*/
    /*background: #e4f;*/
}

.heavy {
  font-weight: 700;
}

.colorchip1, .colorchip2, .colorchip3, .colorchip4, .colorchip5, .colorchip6, .colorchip7, .colorchip8, .colorchip9, .colorchip10, .colorchip11, .colorchip12
{
  height: 100px;
  width: 80%;
}

.colorchip1{
  background: #F4F7F9;
  /*border: 1px solid #E6F5FB;*/
  border-radius: 5px;
}
.colorchip2 {
  background: #E6F5FB;
  border-radius: 5px;
}
.colorchip3 {
  background: #E1E1E1;
  border-radius: 5px;
}
.colorchip4 {
  background: #48C0EB;
  border-radius: 5px;
}
.colorchip5 {
  background: #124F8C;
  border-radius: 5px;
}
.colorchip6 {
  background: #414141;
  border-radius: 5px;
}
/*Break*/
.colorchip7 {
  background: #C41231;
  border-radius: 5px;
}
.colorchip8 {
  background: #F7A11A;
  border-radius: 5px;
}
.colorchip9 {
  background: #0EC534;
  border-radius: 5px;
}
.colorchip10 {
  background: #CDF2FF;
  border-radius: 5px;
}
.colorchip11 {
  background: #5F6974;
  border-radius: 5px;
}
.colorchip12 {
  background: #000000;
  border-radius: 5px;
}

.cdtxt {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.cdtxt span {
  font-weight: 700;
}
.minimal {
  color: #9B9FA
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom:0;
}
.hunnit {
  /*width: 100px;*/
  height: 50px;
  padding-right: 45px;
}

.zilch {
  margin-bottom: 0;
  padding-bottom: 10px;
}